@import url(https://cdn.jsdelivr.net/gh/BowDown097/RevertDiscordFont/font.css); /* The font for older Discord clients */
@import url(https://raw.githubusercontent.com/davart154/Themes/refs/heads/main/Icon%20Revert%202023/2023%20Icon%20Revert.css); /* Revert all of the icons pre-2023 */

:root {
    --default-profile-background: #111214;
}

/* Hide a bunch of shit cluttered up in the Discord client that wasn't there */
.channelAppLauncher_e6e74f,
.footer__214dc,
[class^="profileEffects"],
svg[class^="avatarDecoration"],             
img[class^="avatarDecoration"],
li div a[href="/shop"],
[class^="container_e5a9ed"],
.container__675e5,
.container__8279f,
[class*="membersGroup_"][class*="container_"]:nth-of-type(1),
[class*="container_"][class*="openOnHover_"],
.footer__537ec {
    display: none;
}

/* Probably not the best solution for now, it looks a bit weird. */
.custom-profile-theme {
  --profile-gradient-primary-color: var(--default-profile-background) !important;
  --profile-gradient-secondary-color: var(--default-profile-background) !important;
}