/**
 * @name Revert-22
 * @version 1.0.0
 * @author patricktbp
 * @authorId 1250950455798927450
 * @description Revert's every visual change in the Discord client from now to Dec 1st, 2022.
 * @source https://github.com/n1d3v/Revert-22
*/